<div class="main">

    <div>
        <div class="sub-title">Have a Query?</div>
        <div class="heading text-center">Contact Us</div>
        <p class="content"> Have questions or feedback? We’re here to help. Send us a message, and we’ll respond within
            24 hours.</p>
    </div>

    <div class="div-1">

        <div class="contact-div d-flex align-items-center">
            <div class="circle">
                <i class="bi bi-envelope"></i>
            </div>
            <div class=" info">
                <span>Email Address</span>
                <a href="mailto:valorwaresoftceo@gmail.com">valorwaresoftceo@gmail.com</a>
            </div>
        </div>

        <div class="contact-div d-flex align-items-center mt-3">
            <div class="circle">
                <i class="bi bi-telephone-fill"></i>
            </div>
            <div class="info">
                <span>Phone Number</span>
                <a href="tel:+919705527487">+91 9705527487</a>
            </div>
        </div>

        <div class="images">
            <img src="../../../assets/images/contactus.png" alt="">
        </div>
    </div>


    <div>
        cnjfdjkfdkjfdjkbgfdjkbhj
    </div>






</div>