<div class="main">

    <div class="know-more">
        <div>
            <img src="../../../assets/images/home (1).png" alt="">
        </div>
        <div>
            <p class="header">Join Us</p>
            <p>We invite you to join us on this exciting journey as we strive to push the boundaries of what's possible
                with technology. Whether you're a startup looking to launch your first app or an established enterprise
                in need of custom software solutions, we're here to help you achieve your goals. Contact us today to
                learn more about how Valorware Soft can help your business thrive in the digital age.</p>
            <div class="mt-2 d-flex  justify-content-end">
                <button (click)="navigate('contact-us')">Contact Us</button>
            </div>
        </div>
    </div>
</div>