.know-more {
    p {
        margin-bottom: 8px !important;
    }

    .header {
        color: #040DE3 !important;
        font-size: calc(20px + 2 * (100vw - 320px) / 1920);
        font-weight: 600;
        margin-bottom: 0px !important;
    }

    margin-top: 4rem;
    text-align: justify !important;
    color: #000000;
    line-height: 2 !important;
    font-size: calc(12px + 2 * (100vw - 320px) / 1920);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 776px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0px !important;

        img {
            margin-right: 0px !important;
            margin-bottom: 1.2rem !important;
        }

    }

    img {
        width: 180px !important;
        margin-right: 30px;
    }
}

.main {
    padding: 0px 30px;

    @media (max-width: 992px) {
        padding: 0px 6px !important;
    }
}


button {
    background-color: #040DE3;
    color: white;
    border-radius: 5px;
    border: none !important;
    padding: 5px 10px;
    font-size: 13px;
}