<div class="main">
    <div class="d-flex align-items-center justify-content-between heading">
        <div>
            <p class="title-1">WELCOME TO</p>
            <p class="title-2">VALORWARE SOFT</p>
            <p class="title-3">Where innovation and imagination collide to craft cutting-edge solutions for your digital
                journey ahead.</p>

        </div>
        <div>
            <img src="../../../assets/images/home (2).png" alt="">
        </div>
    </div>
    <div class="content">
        At Valorware Soft, we're more than just a software company - we're your partners in innovation. We're thrilled
        to
        welcome you to our digital home, where creativity meets technology and where solutions are crafted with passion
        and
        precision. In a world that's constantly evolving, we understand the importance of staying ahead of the curve.
        That's
        why we're dedicated to harnessing the latest advancements in technology to deliver cutting-edge solutions that
        propel your business forward. Whether you're a startup with a bold vision or an established enterprise seeking
        to
        redefine your digital presence, we're here to turn your ideas into reality. Our team of seasoned professionals
        brings expertise, creativity, and a commitment to excellence to every project we undertake. So, take a moment to
        explore what Valorware Soft has to offer. Whether you're looking for custom software development, web solutions,
        or
        mobile applications, we've got you covered. Let's embark on this journey together and unlock the endless
        possibilities that technology has to offer. Welcome to the future of software solutions. Welcome to Valorware
        Soft.
    </div>
    <div class="know-more">
        <div>
            <img src="../../../assets/images/home (3).png" alt="">
        </div>
        <div>
            <p class="header">Discover Valorware Soft</p>
            <p>At Valorware Soft, we're committed to delivering cutting-edge software solutions that empower
                businesses to thrive in the digital era. Our vision is to be a pioneering force in software innovation,
                driving transformative change for businesses worldwide. Through our mission, we aim to deliver tailored
                solutions that exceed expectations and propel our clients to success.</p>
            <p> Learn more about our unique approach, core values, and why clients choose us as their trusted partner in
                software development.</p>
            <div class="mt-2 d-flex  justify-content-end">
                <button (click)="navigate('about-us')">Know More</button>
            </div>
        </div>
    </div>

    <div class="services">
        <p class="header">Our Services</p>
        <p>Transform your unique ideas into reality with our custom software development services. From
            conceptualization to implementation, our team will work closely with you to create tailored solutions that
            meet your specific business needs. <span (click)="navigate('services')" class="cursor-pointer"><b>Know
                    More..</b></span> </p>
        <div class="main-cards mt-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title "> <img src="../../../assets/icons/icon (1).png" alt="">
                         Software Development</h5>
                    <p class="card-text">Transform your unique ideas into reality with our custom software development
                        services. From conceptualization to implementation, our team will work closely with you to
                        create tailored solutions that meet your specific business needs.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title "><img src="../../../assets/icons/icon (2).png" alt="">Web Solutions</h5>
                    <p class="card-text">Elevate your online presence with our web solutions. Whether you need a simple
                        website, a complex web application, or an e-commerce platform, we'll design and develop a
                        solution that enhances your brand and engages your audience.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title "><img src="../../../assets/icons/icon (3).png" alt="">UI/UX Design</h5>
                    <p class="card-text">Make a lasting impression with our UI/UX design services. Our talented
                        designers will create visually stunning and user-friendly interfaces that captivate your
                        audience and enhance their overall experience with your product or service.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title "><img src="../../../assets/icons/icon (4).png" alt="">Mobile Applications</h5>
                    <p class="card-text">Reach your customers on the go with our mobile application development
                        services. From iOS to Android, we specialize in creating intuitive and feature-rich mobile apps
                        that provide seamless experiences for users across all devices.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title "><img src="../../../assets/icons/icon (5).png" alt="">Software Consulting</h5>
                    <p class="card-text">Navigate the complexities of software development with our expert consulting
                        services. Whether you need help defining your project scope, choosing the right technologies, or
                        optimizing your existing software, our team is here to provide guidance and support every step
                        of the way.</p>
                </div>
            </div>
        </div>
    </div>






    <div class="know-more">
        <div>
            <img src="../../../assets/images/home (4).png" alt="">
        </div>
        <div>
            <p class="header">Careers at Valorware Soft</p>
            <p>At Valorware Soft, we're always on the lookout for talented individuals who share our passion for
                innovation
                and excellence. Explore exciting career opportunities and become part of our dynamic team.</p>
            <div class="mt-2 d-flex  justify-content-end">
                <button (click)="navigate('find-jobs')">Know More</button>
            </div>
        </div>
    </div>

    <div class="know-more">
        <div>
            <img src="../../../assets/images/home (1).png" alt="">
        </div>
        <div>
            <p class="header">Join Us</p>
            <p>We invite you to join us on this exciting journey as we strive to push the boundaries of what's possible
                with technology. Whether you're a startup looking to launch your first app or an established enterprise
                in need of custom software solutions, we're here to help you achieve your goals. Contact us today to
                learn more about how Valorware Soft can help your business thrive in the digital age.</p>
            <div class="mt-2 d-flex  justify-content-end">
                <button (click)="navigate('contact-us')">Contact Us</button>
            </div>
        </div>
    </div>
</div>