img {
  width: 200px;
}

p {
  font-size: calc(16px + 2 * (100vw - 320px) / 1920);
  font-family: "Poetsen One", sans-serif !important;
}

.popup-class {
  max-width: 600px !important;
  overflow: hidden;
}

.url-input {
  min-width: 208px;

  @media screen and (min-width: 500px) {
    min-width: 350px !important;
  }
  @media screen and (min-width: 768px) {
    min-width: 400px !important;
  }
  max-width: 400px;
}

.copy-field {
  column-gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  button {
    @media screen and (max-width: 768px) {
      margin-top: 20px;
    }
    width: 100px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.copy-btn{
  height: 40px !important;
}

.share-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  img {
    height: 30px;
    width: 30px;
  }
}

.red-color {
  color: #fe4d4d;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: transparent;
  color: #888888;
}

.green-color {
  color: #09454d;
}

button {
  background-color: #040de3;
  color: white;
  border-radius: 5px;
  border: none !important;
  padding: 5px 10px;
  font-size: 13px;
}

.remove-icon {
  position: absolute;
  right: 1px;
  top: 35%;
  cursor: pointer;
  color: red;
  font-size: 2em;
}

.input-wrapper {
  position: relative;
}

input[type="file"] {
  font-size: 14px !important;
  padding-right: 30px !important;
}

.body-content {
  max-width: 700px;
  margin: auto;
  max-height: calc(100vh - 160px);
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none !important;
  }
  @media screen and (max-width: 768px) {
    max-width: 400px !important;
  }

  @media screen and (min-width: 768px) {
    padding: 0px 30px !important;
    max-width: 700px !important;
  }
}

.submit-class {
  max-height: calc(100vh - 60px);
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none !important;
  }
}

.body-content {
  @media screen and (min-width: 320px) {
    padding: 0px 10px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 0px !important;
  }
}

.sub-heading {
  span {
    cursor: pointer;
  }
}

.text-danger {
  font-size: 10px !important;
  margin-top: 4px;
  color: red !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.main-heading {
  font-size: calc(20px + 2 * (100vw - 320px) / 1600);
  font-weight: 500;
  color: black;
}

input[type="text"],
[type="email"],
[type="number"] {
  color: black !important;
  font-size: 14px !important;
  height: 40px !important;
}

textarea {
  color: black !important;
  font-size: 14px !important;
}

.form-control:focus {
  box-shadow: none !important;
}

.form-select:focus {
  box-shadow: none !important;
}

label {
  font-size: 12px;
}

.form-label {
  margin-bottom: 5px !important;
}

.form-control::placeholder {
  color: #dee2e6 !important;
  font-size: 12px;
}

.form-select::placeholder {
  color: #dee2e6 !important;
  font-size: 12px;
}

.form-control:focus {
  border-color: #dee2e6 !important;
}

.form-select:focus {
  border-color: #dee2e6 !important;
}

a{
  cursor: pointer;
}

.btn-primary {
  background-color: #040de3 !important;
  color: #fff !important;
  font-size: 14px !important;
  border: none !important;
  min-width: 100px !important;
}

:host .iti__country-list {
  width: 225px !important;
  background-color: #fff !important;
  color: black !important;
  font-size: 12px !important;
  max-height: 150px !important;

  @media screen and (min-width: 320px) and (max-width: 440px) {
    width: calc(225px + (100vw - 320px)) !important;
  }

  @media screen and (min-width: 440px) and (max-width: 768px) {
    width: 378px !important;
  }

  @media screen and (min-width: 1024px) and (max-width: 1098px) {
    width: calc(269px + 0.5 * (100vw - 1024px)) !important;
  }

  @media screen and (min-width: 1098px) {
    width: 305px !important;
  }

  &::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
  }

  &::-webkit-scrollbar-track {
    background-color: none !important;
    cursor: pointer !important;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #878686 !important;
    border: 1px solid #878686 !important;
    border-radius: 9px !important;
    background-clip: content-box !important;
    cursor: pointer !important;
  }
}

.horizontal-line {
  display: flex;
  align-items: center;
  text-align: center;

  @media screen and (max-width:576px) {
    margin: 30px 0px;
  }

  margin: 40px 0px;
  font-weight: 600;
}

.horizontal-line::before,
.horizontal-line::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.horizontal-line::before {
  margin-right: 10px;
}

.horizontal-line::after {
  margin-left: 10px;
}
