<div class="main">

    <div>
        <div class="heading text-center">Find Your Dream Job</div>
        <p class="content"> Looking for jobs? Browse our latest job openings to view & apply to best jobs today!</p>
    </div>


    <div *ngIf="!haveJobs" class="nojobs">
        <img src="../../../assets/images/jobs.png" alt="">
        <p>Currently not hiring, but feel free to check back later or submit your details for future opportunities.</p>
    </div>

    <div class="know-more mb-4">

        <div>
            <p class="header">Explore your future</p>
            <p>Even if you don't see a position that suits you among our current openings, we encourage you to submit
                your details. Your next opportunity could be just around the corner.</p>

            <div class="d-flex justify-content-end mt-3">
                <button>Submit Details</button>
            </div>
        </div>
        <div>
            <img src="../../../assets/images/jobs (2).png" alt="">
        </div>
    </div>


</div>